<head>
    <title>HomeComponent</title>
</head>

<body style="min-height: 632px;">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 espacio espHome">
        <div class="queo-padding-3rem">
            <h1 class="queo-title">parqueadero a un clic de distancia</h1>
            <p class="queo-paragraph-h1">
                Queo es la plataforma para arrendar o encontrar parqueadero por mensualidad de forma rápida, segura y confiable.
            </p>
        </div>
    </div>
    <picture>
        <img src="./assets/carroHome.png" alt="parqueadero" class="img-Home" style="
        height: 250px;
        z-index: 2;
        position: relative;
        margin-top: -63px;
        max-inline-size: -webkit-fill-available;">
    </picture>
</body>